- var path = "./assets/images/";

.welcome__banner
  .welcome__banner-wrapper
    .welcome__background-banner
      img(src=path + "background-banner.png", alt="Background banner")
    .welcome__person-img
      img(src="./assets/images/person.png", alt="Main character")
    .welcome__rate-card
      img(src="./assets/images/rate-card.png", alt="Rate card")
    .welcome__review-card
    img(src="./assets/images/review-card.png", alt="Review card")
