.welcome__content
  .welcome__text-box
    .welcome__love-icon
      img(src="./assets/images/love-icon.svg", alt="Love icon")
    .welcome__text People Trust us
  .welcome__title We're serious for food & Delivery.
  .welcome__description Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 60 minutes.
  form.welcome__search-form(action="javascript:void(0)")
    input.welcome__input(type="text")
    button(type="submit")
      img(src="./assets/images/search-icon.png", alt="Search icon")
  .welcome__action
    a.btn.welcome__button-download(href="javascript:void(0)") Download App
    a.welcome__button-watch(href="javascript:void(0)") Watch Video
